<div class="container">
  <h2><%= @article.title %></h2>
  <%= link_to article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "" do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  <%= link_to edit_article_path , class: "" do %>
    <i class="fa-solid fa-pen-to-square"></i>
  <% end %>
  <p><%= @article.content %></p>
</div>
